<div class='box'>
  <div class='country-container'>
    <img
      class='country-flag'
      src='{{flags.svg}}'
      alt='{{flags.alt}}'
      width='500'
      height='300'
    />
    <h2 class='country-official-name'>{{name.official}}</h2>
  </div>
  <p><strong>Capital:</strong> {{capital}}</p>
  <p><strong>Population:</strong> {{population}}</p>

  <p><strong>Languages:</strong> {{GOL languages}}</p>
</div>