<div class='box'>
  <div class='country-card'>
    <img class='country-flag' src='{{flags.svg}}' alt='{{flags.alt}}' />
    <h2 class='country-official-name'>{{name.official}}</h2>
  </div>
  <p><strong>Capital:</strong> {{capital}}</p>
  <p><strong>Population:</strong> {{population}}</p>
  <p><strong>Languages:</strong> {{languages}}</p>
</div>